@import 'tailwindcss';
@import 'lucide-static/font/lucide.css';
@import 'tippy.js/dist/tippy.css';

@source "../**/*.blade.php";
@source "../**/*.js";
@source "../../modules/**/*.blade.php";
@source "../../modules/**/*.js";
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme {
    /* light theme */
    --color-surface: var(--color-zinc-50);
    --color-surface-alt: var(--color-zinc-100);
    --color-on-surface: var(--color-neutral-600);
    --color-on-surface-strong: var(--color-neutral-900);
    --color-primary: var(--color-sky-700);
    --color-on-primary: var(--color-white);
    --color-secondary: var(--color-black);
    --color-on-secondary: var(--color-white);
    --color-outline: var(--color-zinc-300);
    --color-outline-strong: var(--color-zinc-500);

    /* dark theme */
    --color-surface-dark: var(--color-zinc-900);
    --color-surface-dark-alt: var(--color-zinc-800);
    --color-on-surface-dark: var(--color-zinc-200);
    --color-on-surface-dark-strong: var(--color-zinc-50);
    --color-primary-dark: var(--color-sky-600);
    --color-on-primary-dark: var(--color-white);
    --color-secondary-dark: var(--color-white);
    --color-on-secondary-dark: var(--color-black);
    --color-outline-dark: var(--color-zinc-700);
    --color-outline-dark-strong: var(--color-zinc-500);

    /* shared colors */
    --color-info: var(--color-sky-700);
    --color-on-info: var(--color-slate-100);
    --color-success: var(--color-green-700);
    --color-on-success: var(--color-white);
    --color-warning: var(--color-amber-600);
    --color-on-warning: var(--color-amber-50);
    --color-danger: var(--color-red-700);
    --color-on-danger: var(--color-slate-100);

    /* border radius */
    --radius-radius: var(--radius-xl);

    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}
